.body{
    background-color: rgb(141, 190, 145);
    color: rgb(0, 0, 0);
}
.Container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;

}

.heading{
    text-align: center;
    animation: pulse 5s infinite;
}


.ctnr{
    width: 410px;
    height: 500px;
    background-color: rgb(124, 115, 104);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation-name: ctnr;
    animation-duration: 10s;   

}

.images{
    width: 200px;
    height: 100px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation-name: images;
    animation-duration: 10s;
    margin-left: 50px;
    border: solid;
}


.button{
width: 100px;
height: 25px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
background-color: rgb(151, 134, 134)
}

.readmore2{
    margin-top: 45px;
}

.readmore3{
    margin-top: 75px;
}
button:hover{
    background-color: rgb(106, 95, 85);
}


@keyframes ctnr {
    from {background-color: rgb(106, 100, 93);}
    to { background-color: rgb(79, 58, 58);}
}

@keyframes images{
    0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-30px);
      }
      100% {
        transform: translateX(10px);
      }
}
